.footer {
  background-color: $primary;
  padding: 12px 0;
  color: #fff;
  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    &:hover,&:focus {
      text-decoration: underline;
    }
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .copyright {
    border-top: 1px solid #fff;
    padding: 32px 0 40px;
  }
}
.social {
  // float: right;
  margin: 0 -12px;
  display: flex;
  a {
    padding: 12px;
    @media screen and (min-width:768px) {
      
    }
  }
  .icon {
    width: 24px;
    height: 24px;
    @media screen and (min-width:768px) {
      width: 48px;
      height: 48px;
    }
  }
}
.footer-contact {
  @media screen and (min-width:992px) {
    font-size: 36px;
  }
  .icon {
    width: 15px;
    height: 15px;
    @media screen and (min-width:768px) {
      width: 36px;
      height: 36px;
    }
  }
}
.footer-menu {
  display: none;
  @media screen and (min-width:768px) {
    display: flex;
    margin-right: auto;
  }
  a {
    padding: 10px;

  }
}