@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto','Noto Sans',Arial,sans-serif;
	line-height: 1.5;
}

h1,h2,h3{
	line-height: 1.6;
}
h1 {
	font-size: 28px;
	@media screen and (min-width:768px) {
		font-size: 48px;
	}
}
h2 {
	font-size: 20px;
	@media screen and (min-width:768px) {
		font-size: 32px;
	}
}
h3 {
	font-size: 16px;
	@media screen and (min-width:768px) {
		font-size: 20px;
	}
}

p{
	font-size: 14px;
	@media screen and (min-width:768px) {
		font-size: 16px;
	}
}