.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.font-bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.bg-dark {
  background-color: #000;
}